.about-containers {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.details-container {
  flex: 1;
  padding: 0.5rem;
  background: white;
  border-radius: 2rem;
  border: 0.1rem solid #a3a3a3;
  text-align: center;
}

.text-container {
  color: var(--primaryText);
  flex-wrap: wrap;
}

/* Profile */

#profile {
  display: flex;
  justify-content: center;
  height: 55vh;
}

.profile-picture {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  clip-path: circle();
}

#about {
  padding: 5%;
}

/* icons  */

@media (max-width: 1024px) {
  #profile {
    flex-direction: column;
    align-items: center;
    height: 85vh;
  }
  .profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
  }

  .profile-picture Image {
    height: 400px;
    width: 460px;

  }
}

@media (max-width: 425px) {
  .profile-picture {
    margin-top: 800px;
  }

  #profile {
    display: flex;
    justify-content: center;
    height: 0vh;
  }
}

@media (max-width: 375px) {
  .profile-picture Image {
    height: 300px;
    width: 280px;
  }

  #profile {
    display: flex;
    justify-content: center;
    height: 0vh;
  }
}

@media (max-width: 320px) {
  .profile-picture Image {
    height: 250px;
    width: 280px;
  }
}
