:root {
  --backgroundColor: #0d0d0d;
  --contrastText: #0d0d0d;
  --neonGreenAccent: #00ff85;
  --blueAccent: #41a0ff;
  --pinkHover: #ff85ce;
  --primaryText: #ffffff;
  --silver: #939393;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--backgroundColor);
}


.icon {
  cursor: pointer;
  height: 2rem;
  background-color: var(--primaryText);
  clip-path: circle();
}

